*{
	margin: 0px;
	padding: 0px;
}

h1{
	font-family:'Cinzel', serif;
	font-size: 40px;
	padding-bottom: 10px;
}

h2{
	font-family:'Cinzel', serif;
	font-size: 25px;
	margin-top: 15px;
}

p{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	text-align: justify;
}

ul li{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	margin-left: 28px;
	margin-top: 5px;
}

dl{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
}

ol{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
}

ol li{
	margin-left: 20px;
}

ol ul{
	padding-left: 30px;
}

ol dt{
	margin: 5px;
}

dt{
	margin-left: 25px;
	margin-top: 10px;
}

dd{
	margin-left: 20px;
}

header .img{
	display: flex;
	margin: 20px;
	padding: 10px;
	width: 20%;
	border-radius: 6%;
}

header{
	background-color: #FCAB10;
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
}

.contenido{
	max-width: 1000px;
	margin: 0 auto;
	background-color: #FED9B7;
	padding: 20px;
	margin-top: 10px;
	border-radius: 10px;
	display: flex;
}

.derecha{
	padding: 20px;
	width: 70%;
}

.izquierda{
	padding: 20px;
	width: 30%;
	background-color: #DA4167;
	/*background-color: #C97B84;*/
	border-radius: 10px;
}

footer{
	background-color: #2B9EB3;
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
	color: #FFF;
	margin-top: 10px;
	border-radius: 10px;
}

footer .icono{
	padding-right: 10px;
}


/*------------------------------------------------------------------*/

#menu{
	margin: auto;
	max-width:1030px;
	font-family:Arial, Helvetica, sans-serif;
	background-color: #2B9EB3;
	padding-bottom: 50px;
	margin-top: 10px;
	border-radius: 10px;	
	justify-content: space-between;
}
			
ul, ol {
	list-style:none;
	justify-content: space-between;
}
			
.nav > li {
	float:left;
	justify-content: space-between;
}
			
.nav li a {
	background-color:#000;
	color:#fff;
	text-decoration:none;
	padding:10px 12px;
	display:block;
	background-color: #2B9EB3;
	justify-content: space-between;
	margin-right: 100px;
	margin-left: 20px;
	border-radius: 8px;
}
			
.nav li a:hover {
	background-color:#434343;
	border-radius: 8px;
}
			
.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
	border-radius: 8px;
	justify-content: space-between;
}
			
.nav li:hover > ul {
	display:block;
	border-radius: 8px;
}
			
.nav li ul li {
	position:relative;
	justify-content: space-between;
	border-radius: 8px;
}
			
.nav li ul li ul {
	right:-140px;
	top:0px;
	justify-content: space-between;
	border-radius: 8px;
}

#space{
	justify-content: space-between;
}

