.identificador{
	background-color: #FF8300;
	color: white;
	padding: 7px;
	border-radius: 3px;
	width: 63%;
	margin-left: 60px;
}

#cerrar{
	color: white;
	text-decoration: none;
}

#cerrar:hover{
	color: #8E0A3A;
	text-decoration:underline;
}

#tablaAsistentes{
	width: 600px;
	margin-left: 15px;
	background-color: white;
	box-shadow: 0 0 10px blue;
	padding: 20px;
	table-layout: fixed;
}

thead{
	color: #8E0A3A;
}

thead th:nth-child(1) {
  width: 3%;
}

thead th:nth-child(2) {
  width: 12%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 25%;
}

thead th:nth-child(5) {
  width: 15%;
}

thead th:nth-child(6) {
  width: 16%;
}

th, td {
  padding: 2px;
}

.adios{
	font-size: 30px;
}